@use './variables' as *;

main {
    // .content {
    //     // .wrapper {}
    // }

    .digital-comix {
        background-color: $digital_color;

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-around;
            max-width: 1000px;
            margin: 0 auto;
            padding: 1rem 0;
        }
    }
}